<html>
    <!-- for image responsive: class .img-responsive
        bootsrap use NORMALIZE to establish cross browser consistency,
        it is a HTML5-ready alternative to CSS resets
        
        use class .lead for paragraphs, larger font size, lighter weightm and a taller line height
        for rendering text: .text-left/ .text-center/ .text-muted/ .text-primary/ .text-success/ .text-info /.text-warning /.text-danger
        <abbr></abbr> for aberviations 
        <address></address> for address
        <blockquote> <cite>
    -->
    <head>
        <!-- this link and script is for using BOOTSRAP, don't delete it -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        
        <!--for proper rendering and touch zooming on mobile devices-->
        <meta name="viewport" content="
                                    width=device-width,
                                    initial-scale=1.0">
        <title> Bank AAP </title>
        
        <link rel="stylesheet" href="../../static/Bank/CSSdesign/style_nav2.css?ver=1.0">
        <link rel="stylesheet" href="../../static/Bank/CSSdesign/RegisterDesign.css?ver=1.1">
    </head>
    <header>
        <div class="container" style="position: relative;">
            <div class="row" style="height: 70px; justify-content: center; position: relative; " >
                            <h1 class="text-center" style="text-align: center; position: fixed;float:right; color: #A9907E; background-color: white;">
                                <strong>
                                    AAP
                                </strong>
                                <img src="../../static/Bank/Photo/Money.svg" 
                                 class="img-fluid" 
                                 style="
                                        padding-bottom: 22px;
                                        width: 60px;
                                        padding-top: 10px;">
                                        <em style="color: black;">Bank</em>
                                </h1>
                    
                
            </div>
        </div>
    </header>
    <body class="register_image">
        <div class="container " style="margin-top: 30px;">
            <div class="row " style="justify-content: center;">
                <div class="col-sm-12 col-md-8 col-lg-8 history_title"  style="border-style: none;">
                    HISTORY
                </div>
            </div>
            <div class="row history_title" style="justify-content: center;">
                <div class="col-sm-12 col-md-4 col-lg-4 "  style="margin-right: 10px; ">
                    ACTION
                </div>
                <div class="col-sm-12 col-md-2 col-lg-2 "  style="margin-right: 10px; ">
                    AMOUNT
                </div>
                <div class="col-sm-12 col-md-5 col-lg-5"  style="margin-right: 10px;">
                    DATE
                </div>
            </div>
        {% for transaction in transactions %}
        <div class="row " style="justify-content: center;">
                {% if transaction.0 == 'DEPOSIT' %}
                <div class="col-sm-12 col-md-4 col-lg-4 actionMade"  style="margin-right: 10px; background-color: rgb(219, 255, 185);">
                    {{transaction.0}}
                </div>
                {% elif transaction.0 == 'WITHDRAW' %}
                <div class="col-sm-12 col-md-4 col-lg-4 actionMade"  style="margin-right: 10px; background-color: rgb(255, 184, 184);">
                    {{transaction.0}}
                </div>
                {% elif transaction.0 == '-TRANSFER' %}
                <div class="col-sm-12 col-md-4 col-lg-4 actionMade"  style="margin-right: 10px; background-color: rgb(255, 184, 184);">
                    {{transaction.0}}
                </div>
                {% elif transaction.0 == '+TRANSFER' %}
                <div class="col-sm-12 col-md-4 col-lg-4 actionMade"  style="margin-right: 10px; background-color: rgb(219, 255, 185);">
                    {{transaction.0}}
                </div>
                {% else %}
                <div class="col-sm-12 col-md-4 col-lg-4 actionMade"  style="margin-right: 10px; background-color: rgb(247, 252, 177);">
                    {{transaction.0}}
                </div>
                {% endif %}
                <div class="col-sm-12 col-md-2 col-lg-2 details"  style="margin-right: 10px;border-style: none;">
                    {{transaction.1}} {{transaction.2}} 
                   
                </div>
                <div class="col-sm-12 col-md-5 col-lg-5 details"  style="margin-right: 10px;border-style: none;">
                    {{transaction.3}}
                </div>
            </div>

        {% endfor %}
    </div> 
    
    </body>
    <footer>
        <div class="container contact_background2" style="height: max-content; position: relative;">
            <div class="row justify-content-lg-center" style="justify-content: center;">
                    
                    <div class="col-sm-6 col-md-6 col-lg-6 ul5" >
                        <address> <strong>AAP Bank</strong><br> 007 street<br> Bucharest, Romania, 404022<br> <abbr title="Phone">P:</abbr> (123) 456-7890 </address>
                        
                    </div>
            </div>
        </div>  
    </footer>

</html>